body {
  background-color: papayawhip;
  color: maroon;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding: 0rem 2rem;
}

form {
  margin-left: 5rem;
}

input {
  margin: 0.5rem;
}

h3 {
  padding-top: 1rem;
  margin-top: 3rem;
  border-top: solid 1px maroon;
}

button, input[type="submit"] {
  background-color: gold;
  color: maroon;
  padding: 0.5rem;
  border: none;
}